{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container-fluid gap-fill">
  <div class="col-md-3"> </div>
  <div class="col-md-6 container-trick">
    <div class="container-in">
      <h2>Mot de passe oublié</h2>
      <form class="login" action="{{ path('security_password_claim') }}" method="post">
      <div class="form-group">
          <input placeholder="Adresse email" required name="mail" type="email" class="form-control">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success">Envoyer</button>
      </div>
      </form>
    </div>
  </div>
  <div class="col-md-3"> </div>
</div>
{% endblock %}
