{% extends 'base.html.twig' %}

{% block title %}Reinitialiser le mot de passe{% endblock %}
{% block body %}

<div class="container-fluid gap-fill">
  <div class="col-md-3"> </div>
  <div class="col-md-6 container-trick">
    <div class="container-in">
        <h2>Reinitialiser le mot de passe</h2>
        {{ form_start(form) }}
        {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Tapez votre mot de passe'}}) }}
        {{ form_row(form.confirm_password, {'label': 'Confirmation mot de passe', 'attr': {'placeholder': 'Retapez votre mot de passe'}}) }}
       <button type="submit" class="btn btn-success">Envoyer</button>
       {{ form_end(form) }}
    </div>
</div>
<div class="col-md-3"> </div>
</div>

{% endblock %}


