{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}
{% block body %}
    <h1>Erreur</h1>
    <p>Cette adresse email n'est pas enregistrée !</p>

    <a href="{{ path(app.request.get('_route')) }}">Retour</a>

{% endblock %}
