<div class="del-image-{{form.vars.name}}">

        {{ form_row(form.file) }}
        <button type="button" class="btn btn-danger btn-remove" data-rel="del-image-{{ form.vars.name }}">Supprimer</button>
</div>
