<div class="del-video-{{ form.vars.name }}">
    {{ form_row(form.url, {'label': 'Lien', 'attr': {'required' : 'false',
                                                         'placeholder' : 'Entrez le code embed de la vidéo',
                                                         'style' : 'max-width: 300px'}}) }}
    <button type="button" class="btn btn-remove fa fa-trash fa-lg" data-rel="del-video-{{ form.vars.name }}"></button>
</div>

